
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
<!doctype html>
<html>
<head>
    <title>Prueba de Bootstrap 4</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <LINK rel="StyleSheet" href="~/Content/Site.css" type="text/css">
</head>

<body>
-->
<div>

    <script type="text/javascript">
        $('#auto1ES').Click(function () {
            if ($('#auto1EN').css('display') == none) {
                $('#auto1EN').css('display', 'block');
            }
            else {
                $('#auto1EN').css('display', 'none');
            }
        })

    </script>
    <script type="text/javascript">
        function mostrarDiv() {
            document.getElementById('camion1EN').style.display = "block";
            document.getElementById('camion1ES').style.display = "none";
            //document.getElementById('menos').style.display = "block";
            document.getElementById('camion1ES').style.display = "none";
            document.getElementById('camion1EN').style.display = "block";

        }

        function ocultarDiv() {
            document.getElementById('camion1ES').style.display = "block";
            document.getElementById('camion1EN').style.display = "none";
            //document.getElementById('menos').style.display = "none";
            document.getElementById('camion1ES').style.display = "block";
            document.getElementById('camion1EN').style.display = "none";

        }


    </script>


    <div id="camion1ES">
        <input name="camionES" onclick="mostrarDiv();" style="margin-left:5px" class="es boton-color" type="button" value="English">

        <div class="container-fluid">
            <div class="row" style="padding:1%">
                <div class="col-md-3" style="background-color:transparent;">
                    <div class="row">
                        <div class="col-md-3" style="background-color:transparent;">
                            <img style="padding:2%" src="~/Content/Img/Vector.png">
                        </div>
                        <div class="col-md-9" style="background-color:transparent; color:#ffff; padding-top:5%; padding-left:8%;">
                            <p style="font-size:15px;">
                                CALCULADORA
                                <span style="font-size:22px; font-weight: bold;">ECOPARTNERSBANK</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="background-color:transparent;">
                    <div class="row" style="padding:2%;">
                        <div class="col-md-6" style="background-color:#117394">
                            <div class="row">
                                <div class="col-md-2" style="background-color:transparent;">
                                    <p id="num" style="padding-top:45%; padding-left:22%;">1</p>
                                </div>
                                <div class="col-md-3" style="background-color:transparent; padding-top:5%;">
                                    <img src="~/Content/Img/Camion.png" alt="Camión" />
                                </div>
                                <div class="col-md-7" style="background-color:transparent; color:#ffff; padding-top:5%; padding-left:10%;">
                                    <p>
                                        Cuéntanos sobre tu
                                        <span style="font-size:20px; font-weight: bold;">Camión</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" style="background-color:#02AFC1;">
                            <p id="num" style="padding-top:18%; padding-left:22%;">2</p>
                        </div>
                        <div class="col-md-2" style="background-color:#04C3D7">
                            <p id="num" style="padding-top:18%; padding-left:22%;">3</p>
                        </div>
                        <div class="col-md-2" style="background-color:#0BEDBF">
                            <p id="num" style="padding-top:18%; padding-left:22%;">4</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="background-color:transparent;">
                </div>
            </div>
        </div>
        <!--/////////////////////////////////////////////////////////////////////////-->
        <div class="container-fluid">
            <form action="/Camion/CalculosCamion" method="post">
                <div class="row" style="margin-top: -1.9%; background-color:#117394">
                    <div class="col-sm-1" style="background-color:transparent;">

                    </div>
                    <div class="col-sm-10" style="background-color:transparent;">

                        <div class="row" style="padding:2%;">
                            <div class="col-sm-2" style="background-color:#117394">

                            </div>
                            <div class="col-sm-8" style="background-color:#117394;">
                                <style>
                                    km:-ms-input-placeholder {
                                        color: #ffff;
                                    }
                                </style>

                                <script type="text/javascript">
                                    $(document).ready(function () {



                                        $('#kilometros').change(function () {
                                            var valor = $(this).val();
                                            $(this).val(valor + ' km');
                                        });

                                        $('#toneladas').change(function () {
                                            var valor = $(this).val();
                                            $(this).val(valor + ' T');
                                        });



                                    });
                                </script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


                                <div class="hijo">

                                    <table>

                                        <tr>
                                            <th style="width:50%">
                                                <span class="spam">&nbsp&nbsp&nbsp&nbsp&nbspKilómetros recorridos</span>
                                            </th>
                                            <th>
                                                <input id="" class="w-100 col-md-12 col-sm-10    input2" onkeypress="return validaNumericos(event)"
                                                       type="text"
                                                       min="1"
                                                       placeholder="Ingresa los kilómetros"
                                                       step="0.1"
                                                       name="kilometros" autocomplete="off" style="max-width: 500px !important;">

                                            </th>

                                        </tr>
                                        <tr>
                                            <th style="width:50%">
                                                <span class="spam">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPeso de la carga</span>
                                            </th>
                                            <th>
                                                <input id="" onkeypress="return validaNumericos(event)"
                                                       type="text"
                                                       min="0"
                                                       placeholder="Ingresar toneladas"
                                                       step="0.001"
                                                       name="toneladasCarga" class="w-100 col-md-12 col-sm-10    input2" autocomplete="off" style="max-width: 500px !important;" />

                                            </th>



                                        </tr>

                                        <tr>
                                            <th style="width:50%">
                                                <span>&nbspAhora ingresa tus datos</span>
                                            </th>
                                            <th></th>



                                        </tr>
                                    </table>

                                </div>
                            </div>

                            <div class="col-sm-2" style="background-color:#117394">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1" style="background-color:transparent;">

                    </div>
                </div>

                <!-///////////////////////////////////////////////////////////////////////////->

                <div class="row" style="margin-top: -33px; background-color:#117394">
                    <div class="col-sm-2" style="background-color:transparent;">

                    </div>
                    <div class="col-sm-8" style="background-color:transparent;">
                        <div class="row" style="padding:2%;">
                            <div class="col-sm-2" style="background-color:#117394">

                            </div>
                            <div class="col-sm-8" style="background-color:#117394;">
                                <div class="hijo">


                                    <table>

                                        <tr>
                                            <th style="width:43%">
                                                <span class="spam">Nombre Completo</span>
                                            </th>
                                            <th><input type="text" name="nombre" class="w-100 col-md-12 col-sm-10    input" required /></th>

                                        </tr>
                                        <tr>
                                            <th style="width:18%">
                                                <span class="spam">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspE-mail</span>
                                            </th>
                                            <th><input type="email" name="correo" class="w-100 col-md-12 col-sm-10    input" required /></th>

                                            <td>
                                            </td>

                                        </tr>
                                    </table>


                                </div>
                            </div>

                            <div class="col-sm-2" style="background-color:#117394">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2" style="background-color:transparent;">

                    </div>
                </div>
                <br>


                <!-///////////////////////////////////////////////////////////////////////////->
                <div class="row" style="margin-top: -33px; background-color:#117394">
                    <div class="col-sm-2" style="background-color:transparent;">

                    </div>
                    <div class="col-sm-8" style="background-color:transparent;">
                        <div class="row" style="padding:2%;">
                            <div class="col-sm-2" style="background-color:#117394">

                            </div>
                            <div class="col-sm-8" style="background-color:#117394;">
                                <div class="hijo">
                                    <table>

                                        <tr>
                                            <th style="width:80%">
                                                <SAMP>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</SAMP>
                                            </th>
                                            <th>
                                                <input type="submit" name="calcular" class="calcular" value="Calcular" ">
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="col-sm-2" style="background-color:#117394">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2" style="background-color:transparent;">

                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="camion1EN" style="display:none;">
        <input onclick="ocultarDiv();" style="margin-left:5px; position: relative;" class="en boton-color" name="" type="button" value="Español">

        <div class="container-fluid">
            <div class="row" style="padding:1%">
                <div class="col-md-3" style="background-color:transparent;">
                    <div class="row">
                        <div class="col-md-3" style="background-color:transparent;">
                            <img style="padding:2%" src="~/Content/Img/Vector.png">
                        </div>
                        <div class="col-md-9" style="background-color:transparent; color:#ffff; padding-top:5%; padding-left:8%;">
                            <p style="font-size:15px;">
                                CALCULATOR
                                <span style="font-size:22px; font-weight: bold;">ECOPARTNERSBANK</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="background-color:transparent;">
                    <div class="row" style="padding:2%;">
                        <div class="col-md-6" style="background-color:#117394">
                            <div class="row">
                                <div class="col-md-2" style="background-color:transparent;">
                                    <p id="num" style="padding-top:45%; padding-left:22%;">1</p>
                                </div>
                                <div class="col-md-3" style="background-color:transparent; padding-top:5%;">
                                    <img src="~/Content/Img/Camion.png" alt="Camión" />
                                </div>
                                <div class="col-md-7" style="background-color:transparent; color:#ffff; padding-top:5%; padding-left:10%;">
                                    <p>
                                        Tell us about your
                                        <span style="font-size:20px; font-weight: bold;">Truck</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" style="background-color:#02AFC1;">
                            <p id="num" style="padding-top:18%; padding-left:22%;">2</p>
                        </div>
                        <div class="col-md-2" style="background-color:#04C3D7">
                            <p id="num" style="padding-top:18%; padding-left:22%;">3</p>
                        </div>
                        <div class="col-md-2" style="background-color:#0BEDBF">
                            <p id="num" style="padding-top:18%; padding-left:22%;">4</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="background-color:transparent;">
                </div>
            </div>
        </div>
        <!--/////////////////////////////////////////////////////////////////////////-->
        <div class="container-fluid">
            <form action="/Camion/CalculosCamionEN" method="post">
                <div class="row" style="margin-top: -1.9%; background-color:#117394">
                    <div class="col-sm-1" style="background-color:transparent;">

                    </div>
                    <div class="col-sm-10" style="background-color:transparent;">

                        <div class="row" style="padding:2%;">
                            <div class="col-sm-2" style="background-color:#117394">

                            </div>
                            <div class="col-sm-8" style="background-color:#117394;">
                                <style>
                                    km:-ms-input-placeholder {
                                        color: #ffff;
                                    }
                                </style>

                                <script type="text/javascript">
                                    $(document).ready(function () {



                                        $('#kilometros').change(function () {
                                            var valor = $(this).val();
                                            $(this).val(valor + ' km');
                                        });

                                        $('#toneladas').change(function () {
                                            var valor = $(this).val();
                                            $(this).val(valor + ' T');
                                        });



                                    });
                                </script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


                                <div class="hijo">

                                    <table>

                                        <tr>
                                            <th style="width:50%">
                                                <span class="spam">&nbsp&nbsp&nbsp&nbsp&nbspKm traveled</span>
                                            </th>
                                            <th>
                                                <input id="" class="w-100 col-md-12 col-sm-10    input2" onkeypress="return validaNumericos(event)"
                                                       type="text"
                                                       min="1"
                                                       placeholder="Type your traveled kms"
                                                       step="0.1"
                                                       name="kilometros" autocomplete="off" style="max-width: 500px !important;">

                                            </th>

                                        </tr>
                                        <tr>
                                            <th style="width:50%">
                                                <span class="spam">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWeight of the load</span>
                                            </th>
                                            <th>
                                                <input id="" onkeypress="return validaNumericos(event)"
                                                       type="text"
                                                       min="0"
                                                       placeholder="Type the amount of tons"
                                                       step="0.001"
                                                       name="toneladasCarga" class="w-100 col-md-12 col-sm-10    input2" autocomplete="off" style="max-width: 500px !important;" />

                                            </th>



                                        </tr>

                                        <tr>
                                            <th style="width:50%">
                                                <span>&nbspNow enter your info</span>
                                            </th>
                                            <th></th>



                                        </tr>
                                    </table>

                                </div>
                            </div>

                            <div class="col-sm-2" style="background-color:#117394">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1" style="background-color:transparent;">

                    </div>
                </div>

                <!-///////////////////////////////////////////////////////////////////////////->

                <div class="row" style="margin-top: -33px; background-color:#117394">
                    <div class="col-sm-2" style="background-color:transparent;">

                    </div>
                    <div class="col-sm-8" style="background-color:transparent;">
                        <div class="row" style="padding:2%;">
                            <div class="col-sm-2" style="background-color:#117394">

                            </div>
                            <div class="col-sm-8" style="background-color:#117394;">
                                <div class="hijo">


                                    <table>

                                        <tr>
                                            <th style="width:43%">
                                                <span class="spam">Full name</span>
                                            </th>
                                            <th><input type="text" name="nombre" class="w-100 col-md-12 col-sm-10    input" required /></th>

                                        </tr>
                                        <tr>
                                            <th style="width:18%">
                                                <span class="spam">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspE-mail</span>
                                            </th>
                                            <th><input type="email" name="correo" class="w-100 col-md-12 col-sm-10    input" required /></th>

                                            <td>
                                            </td>

                                        </tr>
                                    </table>


                                </div>
                            </div>

                            <div class="col-sm-2" style="background-color:#117394">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2" style="background-color:transparent;">

                    </div>
                </div>
                <br>


                <!-///////////////////////////////////////////////////////////////////////////->
                <div class="row" style="margin-top: -33px; background-color:#117394">
                    <div class="col-sm-2" style="background-color:transparent;">

                    </div>
                    <div class="col-sm-8" style="background-color:transparent;">
                        <div class="row" style="padding:2%;">
                            <div class="col-sm-2" style="background-color:#117394">

                            </div>
                            <div class="col-sm-8" style="background-color:#117394;">
                                <div class="hijo">
                                    <table>

                                        <tr>
                                            <th style="width:80%">
                                                <SAMP>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</SAMP>
                                            </th>
                                            <th>
                                                <input type="submit" name="calcular" class="calcular" value="Calculate">
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="col-sm-2" style="background-color:#117394">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2" style="background-color:transparent;">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function validaNumericos(event) {
        if (event.charCode >= 48 && event.charCode <= 57) {
            return true;
        }
        return false;
    }
</script>


<!--
</body>
</html>
-->
