
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="min-height: 500px; padding-top: 100px; background-color : #137394">
    <form action="/Camion/CalculosCamion" method="post">
        <div class="row w-100 mx-0">

            <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0 ">
                <span style="color : white; font-size: 16px">Kilómetros recorridos</span>
            </div>
            <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0 ">
                <input class="w-100" type="text" name="kilometros" autocomplete="off" style="max-width: 500px !important;">
            </div>

            <div class="col-12"><p></p></div>

            <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0 ">
                <span style="color : white; font-size: 16px">Peso de la Carga (toneladas)</span>
            </div>
            <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0 ">
                <input class="w-100" type="text" name="toneladasCarga" autocomplete="off" style="max-width: 500px !important;">
            </div>

            <div class="col-12"><p></p></div>

            <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0 pb-5">
                <input style="background-color: transparent; border: 1px white solid; padding: 12px; color: white ;border-radius: 10px" type="submit" class="actualizar" value="Calcular">
            </div>

        </div>
    </form>

    @if (ViewBag.carbono != null)
    {
    <div class="row pb-5">
        <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0">
            <span style="color: white; font-size: 15px;">Kilómetros recorridos : @ViewBag.kilometros Kilómetros</span>
        </div>
        <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0">
            <span style="color: white; font-size: 15px;">Peso de Carga : @ViewBag.carga Toneladas</span>
        </div>

        <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0">
            <span style="color: white; font-size: 15px;">Carbono producido : @ViewBag.carbono</span>
        </div>
        <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0">
            <span style="color: white; font-size: 15px;">Total a Pagar : @ViewBag.total</span>
        </div>

    </div>


    }

</div>


