
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .columna {
        background: #2191fb;
        color: #fff;
        padding: 20px;
        margin-bottom: 20px;
    }
</style>
<div>

    <script type="text/javascript">
        $('#auto1ES').Click(function () {
            if ($('#auto1EN').css('display') == none) {
                $('#auto1EN').css('display', 'block');
            }
            else {
                $('#auto1EN').css('display', 'none');
            }
        })

    </script>
    <script type="text/javascript">
        function mostrarDiv() {
            document.getElementById('auto1EN').style.display = "block";
            document.getElementById('auto1ES').style.display = "none";
            //document.getElementById('menos').style.display = "block";
            document.getElementById('auto1ES').style.display = "none";
            document.getElementById('auto1EN').style.display = "block";

        }

        function ocultarDiv() {
            document.getElementById('auto1ES').style.display = "block";
            document.getElementById('auto1EN').style.display = "none";
            //document.getElementById('menos').style.display = "none";
            document.getElementById('auto1ES').style.display = "block";
            document.getElementById('auto1EN').style.display = "none";

        }
    </script>
    <script>
        /*$("#calcular").click(function () { // el id del boton calcular */
        function calcularES() {
            alert('hola');
            var reque = $("input[name=kilometros]");
            var requenombre = $("input[name=nombre]");
            var requemail = $("input[name=correo]");

            
            if (reque.val() == "") {
                $("#reque").attr("required", true);
                document.getElementById("reque").style.border = "2px solid red";
                document.getElementById("reque").focus();
                return false;
            } else {
                $("#reque").attr("required", false);
                document.getElementById("reque").style.border = "";
            }
            /**/
            if (requenombre.val() == "") {
                $("#requenombre").attr("required", true);
                document.getElementById("requenombre").style.border = "2px solid red";
                document.getElementById("requenombre").focus();
                return false;
            } else {
                $("#requenombre").attr("required", false);
                document.getElementById("requenombre").style.border = "";
            }
            /**/
            if (reque.val() == "") {
                $("#requemail").attr("required", true);
                document.getElementById("requemail").style.border = "2px solid red";
                document.getElementById("requemail").focus();
                return false;
            } else {
                $("#requemail").attr("required", false);
                document.getElementById("requemail").style.border = "";
            }
        }
        /*});*/
    </script>
    <div id="auto1ES">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-xl-3" style="background-color:transparent;">
                    <div class="row">
                        <div class="logoclass col-3 col-sm-2 col-lg-2 col-xl-3" style="background-color:transparent;">
                            <img src="/Content/Img/Vector.png" class="img-fluid" alt="Responsive Image">
                        </div>
                        <div class="prueba col-8 col-sm-6 col-lg-8 col-xl-9 text-md-left text-lg-center text-xl-left" style="background-color:transparent; color:#ffff;">
                            <p id="estilo1">
                                <br>
                                <span id="logo"></span>
                            </p>
                        </div>
                        <div class="d-block d-xl-none col-12 col-sm-4 col-lg-2" style="background-color:transparent; padding-top:2%;">
                            <input name="autoES" onclick="mostrarDiv();" style="margin-left:5px" class="traducirsm boton-color" type="button" value="English">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6" style="background-color:transparent;">
                    <div class="row divencabezado" style="padding:2%;">
                        <div class="col-6 " style="background-color:#117394;">
                            <div class="row">
                                <div class="col-3 col-sm-2 col-xl-2 " style="background-color:transparent;">
                                    <p class="text-center" id="num">1</p>
                                </div>
                                <div class="col-9 col-sm-3 col-xl-3" style="background-color:transparent;">
                                    <img class="car" src="~/Content/Img/Auto.png" lass="img-fluid" alt="Responsive Image" />
                                </div>
                                <div class="d-none d-sm-block col-sm-7" style="background-color:transparent; color:#ffff; padding-top:2%; padding-left:10%;">
                                    <p id="estilo2cab">
                                        <span id="estilo2texto"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 " style="background-color:#02AFC1;">
                            <p class="text-center" id="num">2</p>
                        </div>
                        <div class="col-2 " style="background-color:#04C3D7">
                            <p class="text-center" id="num">3</p>
                        </div>
                        <div class="col-2" style="background-color:#0BEDBF">
                            <p class="text-center" id="num">4</p>
                        </div>
                    </div>
                </div>
                <div class="d-none d-xl-block col-xl-3" style="background-color:transparent; padding-top:2.7%; ">
                    <input name="autoES" onclick="mostrarDiv();" style="margin-left:5px" class="traducir boton-color" type="button" value="English">
                    <br>
                </div><br />
            </div>
        </div>
        <!-- DATOS A CALCULAR -->
        <div class="container-fluid">
            <form action="/Auto/CalculosAuto" method="post">
                <div class="row" style="margin-top: -2%; background-color:#117394">
                    <div class="col-md-1" style="background-color:transparent;">
                    </div>
                    <div class="col-sm-10" style="background-color:transparent;">
                        <div class="row" style="padding:2%;">
                            <div class="col-sm-2" style="background-color:#117394">
                            </div>
                            <div class="col-sm-10" style="background-color:#117394;">
                                <div class="hijo">
                                    <table class="text-right">
                                        <tr>
                                            <th style="width:50%">
                                                <span class="spam">Kilómetros recorridos</span>
                                            </th>
                                            <th>
                                                <input id="reque" name="kilometros" class="w-100 col-md-12 col-sm-12 input2" autocomplete="off" onkeypress="return validaNumericos(event)" />
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width:50%">
                                                <span class="spam">Tipo de automóvil</span>
                                            </th>
                                            <th>
                                                <select name="tipoAuto" class="w-100 col-md-12 col-sm-12    input2">
                                                    <option style="color:#fff; background:#117394;" value="peque">Pequeño</option>
                                                    <option style="color:#fff; background:#117394;" value="mediano">Mediano</option>
                                                    <option style="color:#fff; background:#117394;" value="grande">Grande</option>
                                                </select>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width:50%">
                                                <span class="spam">Tipo de combustible</span>
                                            </th>
                                            <th>
                                                <select name="tipoCombustible" class="w-100 col-md-12 col-sm-12    input2">
                                                    <option style="color:#fff; background:#117394;" value="gasolina">Gasolina</option>
                                                    <option style="color:#fff; background:#117394;" value="diesel">Diesel</option>
                                                </select>
                                            </th>
                                        </tr>

                                        <tr>
                                            <th style="width:50%">
                                                <span>Ahora ingresa tus datos</span>
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-2" style="background-color:#117394">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="background-color:transparent;">
                    </div>
                </div>

                <!-- DATOS DEL VISITANTE-->

                <div class="row" style="margin-top: -2%; background-color:#117394">
                    <div class="col-md-1" style="background-color:transparent;">
                    </div>
                    <div class="col-sm-10" style="background-color:transparent;">
                        <div class="row" style="padding:2%;">
                            <div class="col-sm-2" style="background-color:#117394">
                            </div>
                            <div class="col-sm-10" style="background-color:#117394;">
                                <div class="hijo">
                                    <table class="text-right">
                                        <tr>
                                            <th style="width:50%">
                                                <span class="spam">Nombre Completo</span>
                                            </th>
                                            <th>
                                                <input id="requenombre" name="nombre" class="w-100 col-md-12 col-sm-12 input2"  />
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width:50%">
                                                <span class="spam">E-mail</span>
                                            </th>
                                            <th><input id="requemail" type="email" name="correo" class="w-100 col-md-12 col-sm-12   input2"  /></th>

                                        </tr>

                                    </table>
                                    <br />
                                </div>
                            </div>
                            <div class="col-md-2" style="background-color:#117394">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="background-color:transparent;">
                    </div>
                </div>
                <!--  BOTÓN CALCULAR -->
                <div class="row" style="margin-top: -33px; background-color:#117394">
                    <div class="col-sm-2 col-md-2" style="background-color:transparent;">

                    </div>
                    <div class="col-sm-8" style="background-color:transparent;">
                        <div class="row">
                            <div class="col-8" style="background-color:#117394">

                            </div>
                            <div class="col-4" style="background-color:#117394; padding-top:2%;">
                                <input type="submit" onclick="calcularES();" name="calcular" class="calcular" value="Calcular">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2" style="background-color:transparent;">

                    </div>
                </div>

            </form>
        </div>
    </div>

    <!-- INGLES -->
    <div id="auto1EN" style="display:none;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-xl-3" style="background-color:transparent;">
                    <div class="row">
                        <div class="logoclass col-3 col-sm-2 col-lg-2 col-xl-3" style="background-color:transparent;">
                            <img src="/Content/Img/Vector.png" class="img-fluid" alt="Responsive Image">
                        </div>
                        <div class="prueba col-8 col-sm-6 col-lg-8 col-xl-9 text-md-left text-lg-center text-xl-left" style="background-color:transparent; color:#ffff;">
                            <p id="estilo1en">
                                <br>
                                <span id="logo"></span>
                            </p>
                        </div>
                        <div class="d-block d-xl-none col-12 col-sm-4 col-lg-2" style="background-color:transparent; padding-top:2%;">
                            <input onclick="ocultarDiv();" style="margin-left:5px;" class="traducirsm boton-color" name="traducir" type="button" value="Español">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6" style="background-color:transparent;">
                    <div class="row divencabezado" style="padding:2%;">
                        <div class="col-6 " style="background-color:#117394;">
                            <div class="row">
                                <div class="col-3 col-sm-2 col-xl-2 " style="background-color:transparent;">
                                    <p class="text-center" id="num">1</p>
                                </div>
                                <div class="col-9 col-sm-3 col-xl-3" style="background-color:transparent;">
                                    <img class="car" src="~/Content/Img/Auto.png" lass="img-fluid" alt="Responsive Image" />
                                </div>
                                <div class="d-none d-sm-block col-sm-7" style="background-color:transparent; color:#ffff; padding-top:2%; padding-left:10%;">
                                    <p id="estilo2cabEN">
                                        <br />
                                        <span id="estilo2textoEN"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 " style="background-color:#02AFC1;">
                            <p class="text-center" id="num">2</p>
                        </div>
                        <div class="col-2 " style="background-color:#04C3D7">
                            <p class="text-center" id="num">3</p>
                        </div>
                        <div class="col-2" style="background-color:#0BEDBF">
                            <p class="text-center" id="num">4</p>
                        </div>
                    </div>
                </div>
                <div class="d-none d-xl-block col-xl-3" style="background-color:transparent; padding-top:2.7%; ">
                    <input onclick="ocultarDiv();" style="margin-left:5px;" class="traducirsm boton-color" name="traducir" type="button" value="Español">
                    <br>
                </div><br />
            </div>
        </div>
        <!-- DATOS A CALCULAR -->
        <div class="container-fluid">
            <form action="/Auto/CalculosAutoEN" method="post">
                <div class="row" style="margin-top: -2%; background-color:#117394">
                    <div class="col-md-1" style="background-color:transparent;">
                    </div>
                    <div class="col-sm-10" style="background-color:transparent;">
                        <div class="row" style="padding:2%;">
                            <div class="col-sm-2" style="background-color:#117394">
                            </div>
                            <div class="col-sm-10" style="background-color:#117394;">
                                <div class="hijo">
                                    <table class="text-right">
                                        <tr>
                                            <th style="width:50%">
                                                <span class="spam">Kilometers travelled</span>
                                            </th>
                                            <th>
                                                <input name="kilometrosen" class=" sw-100 col-md-12 col-sm-12 input2" autocomplete="off" onkeypress="return validaNumericos(event)" />
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width:50%">
                                                <span class="spam">Type of car</span>
                                            </th>
                                            <th>
                                                <select name="tipoAuto" class="w-100 col-md-12 col-sm-12    input2">
                                                    <option style="color:#fff; background:#117394;" value="peque">Small</option>
                                                    <option style="color:#fff; background:#117394;" value="mediano">Middle</option>
                                                    <option style="color:#fff; background:#117394;" value="grande">Big</option>
                                                </select>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width:50%">
                                                <span class="spam">Type of fuel</span>
                                            </th>
                                            <th>
                                                <select name="tipoCombustible" class="w-100 col-md-12 col-sm-12    input2">
                                                    <option style="color:#fff; background:#117394;" value="gasolina">Gasoline</option>
                                                    <option style="color:#fff; background:#117394;" value="diesel">Diesel</option>
                                                </select>
                                            </th>
                                        </tr>

                                        <tr>
                                            <th style="width:50%">
                                                <span>
                                                    Now enter your info
                                                </span>
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-2" style="background-color:#117394">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="background-color:transparent;">
                    </div>
                </div>

                <!-- DATOS DEL VISITANTE-->

                <div class="row" style="margin-top: -2%; background-color:#117394">
                    <div class="col-md-1" style="background-color:transparent;">
                    </div>
                    <div class="col-sm-10" style="background-color:transparent;">
                        <div class="row" style="padding:2%;">
                            <div class="col-sm-2" style="background-color:#117394">
                            </div>
                            <div class="col-sm-10" style="background-color:#117394;">
                                <div class="hijo">
                                    <table class="text-right">
                                        <tr>
                                            <th style="width:50%">
                                                <span class="spam">Full Name</span>
                                            </th>
                                            <th>
                                                <input name="nombreEN" class="w-100 col-md-12 col-sm-12 input2"  />
                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width:50%">
                                                <span class="spam">E-mail</span>
                                            </th>
                                            <th><input type="email" name="correoEN" class="w-100 col-md-12 col-sm-12   input2"  /></th>

                                        </tr>

                                    </table>
                                    <br />
                                </div>
                            </div>
                            <div class="col-md-2" style="background-color:#117394">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="background-color:transparent;">
                    </div>
                </div>
                <!--  BOTÓN CALCULAR -->
                <div class="row" style="margin-top: -33px; background-color:#117394">
                    <div class="col-sm-2 col-md-2" style="background-color:transparent;">

                    </div>
                    <div class="col-sm-8" style="background-color:transparent;">
                        <div class="row">
                            <div class="col-8" style="background-color:#117394">

                            </div>
                            <div class="col-4" style="background-color:#117394; padding-top:2%;">
                                <input type="submit" onclick="calcular();" id="calcular" name="calcular" class="calcular" value="Calculate">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2" style="background-color:transparent;">

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<script>
    function validaNumericos(event) {
        if (event.charCode >= 48 && event.charCode <= 57) {
            return true;
        }
        return false;
    }
</script>
