
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <LINK rel="StyleSheet" href="~/Content/Site.css" type="text/css">
</head>
<body>

    <div class="container-fluid">
        <div class="row" style=" background-color: #04C3D7; ">
            <div class="col-12" style="background-color:#04C3D7;">

            </div>
            <div class="col-12" style="background-color:#04C3D7; ">
                <div class="row">

                    <div class="col-12 text-center" style=" background-color: #04C3D7; ">
                        <br> <spam style="font-size:30px">  THE TRANSACTION WAS VOID</spam>
                        <br> <br>
                    </div>

                    <div class="col-12 text-center" style="background-color: #04C3D7; color: #ffffff">

                        <span style="font-size:14px">You can contact us through</span><br />
                        <span style="font-size:14px">epb@ecopartnersbank.org </span><br /><br />

                    </div>

                    <!--
                    <h2>Final</h2>
                    <p>Token</p>
                    @ViewBag.Token-->


                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4" style="background-color:transparent">
                </div>
                <div class="col-lg-4" style="background-color:transparent">


                    <a href="http://www.ecopartnersbank.org"><img style="margin-left:25%" src="~/Content/Img/logooEPB.png" /></a>

                </div>
                <div class="col-lg-4" style="background-color:transparent">

                </div>
            </div>

        </div>
    </footer>
</body>
</html>

