
@{
    ViewBag.Title = "Final";
}


<!doctype html>
<html>
<head>
    <title>Prueba de Bootstrap 4</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <LINK rel="StyleSheet" href="~/Content/Site.css" type="text/css">
</head>

<body>
    <div class="container-fluid">
        <div class="row" style="padding:1%">
            <div class="col-md-3" style="background-color:transparent;">
                <div class="row">

                </div>
            </div>
            <div class="col-md-6" style="background-color:transparent;">
                <div class="row" style="padding:2%;">




                </div>
            </div>
            <div class="col-md-3" style="background-color:transparent;">
            </div>
        </div>
    </div>


    <!-- ///////////////////////////////////////////////////////////////////////////////////-->
    <div class="container col-12">
        <div class="row" style=" background-color: #04C3D7; ">
            <div class="col-sm-2" style="background-color:#04C3D7;">

            </div>
            <div class="col-sm-8" style="background-color:#04C3D7; ">
                <div class="row">


                    <div class="col-sm-3" style=" background-color: #04C3D7; color:#117394">

                    </div>

                    <div class="col-sm-8" style="background-color: #04C3D7; color: #ffffff">

                        <div><span>&nbsp&nbsp</span></div>
                        <div>
                            <span>&nbsp&nbsp</span>
                            <span>&nbsp&nbsp</span>

                            <span>&nbsp&nbsp</span>
                            <span>&nbsp&nbsp</span>
                            <span>&nbsp&nbsp</span>
                            <span>&nbsp&nbsp</span>
                            <span>&nbsp&nbsp</span>
                            <span>&nbsp&nbsp</span>
                            <img src="~/Content/Img/nube.png" alt="Final" />
                            <span>&nbsp&nbsp</span>
                            <span>&nbsp&nbsp</span>
                            <span>&nbsp&nbsp</span>
                            <span>&nbsp&nbsp</span>
                            <img src="~/Content/Img/flecha.png" alt="Final" />
                            <span>&nbsp&nbsp</span>
                            <span>&nbsp&nbsp</span>
                            <span>&nbsp&nbsp</span>
                            <span>&nbsp&nbsp</span>
                            <img src="~/Content/Img/hoja.png" alt="Final" />
                        </div>
                        <div><spam style="font-size:40px; margin-left:-25px;">¡GRACIAS POR COMPENSAR!</spam> </div>
                        <div><spam style="font-size:35px; font-weight:bold">&nbsp&nbsp&nbsp&nbsp  <font id="toneladas"></font> TONELADAS DE CO2!</spam></div>
                        <div><span style="font-size:18px; margin-left:11%">Tú eres parte del cambio que podemos hacer</span></div>
                        <div><span>&nbsp&nbsp</span></div>





                        <div>
                            <table style="margin-left:6%">
                                <tr>
                                    <th>
                                        <img src="~/Content/Img/sobre.png" alt="Final" />
                                    </th>
                                    <th>
                                        <spam style="font-size:12px;  ">
                                            &nbsp&nbspRecibirás en tu email en detalle el resumen de tu compensación
                                        </spam><br />
                                        <spam style="font-size:12px; ">
                                            &nbsp&nbspy de qué manera será utilizada en Ecopartnersbank.
                                        </spam>

                                    </th>
                                </tr>
                                <tr></tr>


                            </table>

                        </div>

                        <div><span>&nbsp&nbsp</span></div>


                        <div align="center" style="margin-left:-25%">
                            <span style="font-size:14px">Nos puedes escribir también a</span><br />
                            <span style="font-size:14px">epb@ecopartnersbank.org</span>

                        </div>
                        <div><span>&nbsp&nbsp</span></div>

                        <!--   <h2>Final</h2>
                        <p>Token</p>
                        <font id="code"></font>
                        <br />
                        <p>Monto</p>
                        <font id="monto"></font>
                        <br />
                        <p>Respuesta</p>
                        <font id="respuesta"></font>
                        <br />
                        <p>Toneladas</p>-->


                        <script>
                            if (window.localStorage.getItem("response") === null) {
                                location.href = "/Auto/ErrorT";
                            }
                        </script>

                        document.getElementById("code").innerHTML = window.localStorage.getItem("token");
                        document.getElementById("monto").innerHTML = window.localStorage.getItem("monto");
                        document.getElementById("respuesta").innerHTML = window.localStorage.getItem("response");
                        document.getElementById("toneladas").innerHTML = window.localStorage.getItem("toneladas");


                    </div>






                    <div class="col-sm-1" style=" background-color: #04C3D7; color:#117394">

                    </div>




                </div>
            </div>
            <div class="col-sm-2" style="background-color:transparent;">

            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4" style="background-color:transparent">
                </div>
                <div class="col-lg-4" style="background-color:transparent">

                    <img style="margin-left:25%" src="~/Content/Img/logooEPB.png" />

                </div>
                <div class="col-lg-4" style="background-color:transparent">

                </div>
            </div>

        </div>
    </footer>
</body>
</html>



