
body {
    background: linear-gradient(90deg, #028FCB, #05B3C6, #07D0C2, #0BEDBF);
    color: #fff;
}

::-webkit-input-placeholder {
    color: #A0A0A0;
}
:-moz-placeholder { /* Firefox 18- */
    color: #A0A0A0;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #A0A0A0;
}
:-ms-input-placeholder {
    color: #A0A0A0;
}

/*#num{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
}*/

.traducir {
    color: #fff;
    background-color: transparent;
    height: auto;
    width: 130px;
    border-radius: 3em;
    border: 3px solid #fff;
}


.padre {
    background: #117394;
    height: 700px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.hijo {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
}

.hijo2 {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

.select {
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 320px;
    text-align: right;
}


.select2 {
    color: #fff;
    background-color: transparent;
    width: 80px;
    border-radius: 3em;
    border: 2px solid #fff;
    text-align: center;
}

.select3 {
    color: #fff;
    background-color: transparent;
    width: 160px;
    border-radius: 3em;
    border: 2px solid #fff;
    text-align: center;
}

.select4 {
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 350px;
    text-align: right;
}

.spam{
    font-weight: 400;
}

.calcular {
    color: #fff;
    background-color: transparent;
    height: auto;
    width: 130px;
    border-radius: 3em;
    border: 3px solid #fff;
}

.boton-color:hover {
    background: #fff;
    color: #117394
}

.input {
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 220px;
}

.inputmoneda {
    color: #117394;
    background-color: transparent;
    border: none;
    font-size:18px;
    width: 100px;
}

.input2 {
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 300px;
    text-align: right;
}
.input2:-ms-input-placeholder {
    color: white;
}


.input3 {
    color: #117394;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #117394;
    width: 250px;
    text-align: right;
}




.calcular2 {
    color: #fff;
    background-color: transparent;
    font-size: 14px;
    width: 200px;
    border-radius: 3em;
    border: 3px solid #fff;
}

.calcular3 {
    color: #fff;
    background: linear-gradient(90deg, #0BEDBF, #07D0C2, #05B3C6, #028FCB );
    font-size: 18px;
    width: 120px;
    border-radius: 3em;
    border: 3px solid #fff;
}

.calcular4 {
    color: #808080;
    background: #fff;
    font-size: 18px;
    width: 150px;
    border-radius: 3em;
    border: 3px solid #808080;
}

.moneda {
    color: #fff;
    background: linear-gradient(90deg, #0BEDBF, #07D0C2, #05B3C6, #028FCB );
    font-size: 18px;
    width: 60px;
    border-radius: 3em;
    border: 3px solid #fff;
}

#pregunta input {
    display: none;
    background-color: transparent;
    border-radius: 3em;
}

#pregunta label {
    border: solid 2px #ffffff;
    border-radius: 3em;
    margin: 5px;
    padding: 5px;
    background: #04C3D7;
    color: #FAFAFA;
    font-size: 12px;
    font-family: Open Sans;
}

    #pregunta label:hover {
        background: #117394;
    }

#pregunta input[type=radio]:checked + label {
    background: #FAFAFA;
    color: #04C3D7;
}

/*Mario*/
#Lista p, #Lista2 p {
    margin-bottom: 0.5rem;
    padding: 2px;
}

    #Lista p:hover, #Lista2 p:hover {
        background-color: #DCDCDC;
        cursor: pointer;
    }

/* VIVIAN y GUSTAVO */
#logo:before {
    content:"ECOPARTNERSBANK";
}

#estilo1:before {
    content: "CALCULADORA";
}

#estilo1en:before {
    content: "CALCULATOR";
}

#estilo2cab:before {
    content: "Cuéntanos sobre tu";
}
#estilo2texto:before {
    content: "Automóvil";
}

.spam {
    font-weight: 400;
    padding-right: 10%;
}


@media screen and (min-width: 0px) and (max-width: 575px) {
    .car{
        padding-top:15% !important;
    }
    .prueba {
        padding-left: 8%;
        padding-top: 2%;
    }
   /*Número encabezado*/
    #num{
        font-style: normal;
        font-weight: bold;
        font-size:45px !important;
    }
    /*Encabezado*/
    #logo:before {
        content: "ECOPARTNERSBANK";
        font-size:100%;
        font-weight:bold;
        padding-top:5%;
    }
    /*Encabezado*/
    #estilo1:before {
        content: "CALCULADORA";
        color: #FFFF;
        padding-top: 5%;
        padding-left:10%;
        padding-right: 50%;
        padding-top:25%;
        font-size:80%;
    }

  /* BOTÓN CALCULAR*/
    .calcular {
        color: #fff;
        background-color: transparent;
        height:auto;
        width: 100px;
        border-radius: 3em;
        border: 3px solid #fff;
    }
    /* BOTÓN TRADUCIR*/
    .traducirsm{
        color: #fff;
        background-color: transparent;
        height: auto;
        width: 100%;
        border-radius: 3em;
        border: 3px solid #fff;
    }

    /* */
    .input{
        color: #fff;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        text-align: right;
        width: 300px;
    }
    .input2 {
        color: #fff;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        width: 300px;
        text-align: right;
    }

        .input2:-ms-input-placeholder {
            color: white;
        }

    /*Encabezado EN*/
    #estilo1en:before{
        content: "CALCULATOR";
        color: #FFFF;
        padding-top: 5%;
        padding-left:20%;
        padding-right: 50%;
        font-size:80%;
    }
    .colnom1{
        padding-left:10% !important;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    /* CARRITO */
    .car {
        padding-top: 20% !important;
    }

    /* DIV CALCU Y ECOPART*/
    .prueba {
        padding-top:3%;
    }

    
    .colnom1 {
        padding-left: 25%;
    }

    /*Número encabezado*/
    #num {
        padding-top: 20%;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 41px;
    }

    /*Encabezado*/
    #logo:before {
        content: "ECOPARTNERSBANK";
        font-size:25px;
        font-weight: bold;
    }
    /*Encabezado*/
    #estilo1:before {
        content: "CALCULADORA";
        color: #FFFF;
        padding-top:50% !important;
        padding-left: 10%;
        padding-right: 40%;
        font-size:15px;
    }

    #estilo2cab:before {
        content: "Cuéntanos sobre tu";
    }

    #estilo2texto:before {
        content: "Automóvil";
        font-size: 20px;
        font-weight: bold;
    }
    .estilo1 {
        color: #ffff;
        padding-top: 5%;
        padding-left: 5%;
        margin-right: 50px;
        font-size: 50px;
    }


    .calcular {
        color: #fff;
        background-color: transparent;
        height: auto;
        width: 90px;
        border-radius: 2em;
        border: 3px solid #fff;
    }


    .input {
        color: #fff;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        text-align: right;
        width: 300px;
    }

    /* BOTÓN TRADUCIR*/
    .traducirsm {
        color: #fff;
        background-color: transparent;
        height: auto;
        width: 100%;
        border-radius: 3em;
        border: 3px solid #fff;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    /* CARRITO */
    .car {
        padding-top: 20% !important;
    }

    .prueba {
        padding-top:2%;
    }

    /*Encabezado*/
    #logo:before {
        content: "ECOPARTNERSBANK";
        font-size: 30px;
        font-weight: bold;
    }
    /*Encabezado*/
    #estilo1:before {
        content: "CALCULADORA";
        color: #FFFF;
        padding-top: 40% !important;
        padding-right: 40%;
        font-size:20px;
    }

    /* BOTÓN TRADUCIR*/
    .traducirsm {
        color: #fff;
        background-color: transparent;
        height: auto;
        width: 100%;
        border-radius: 3em;
        border: 3px solid #fff;
    }

    #num{
        padding-top: 20%;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 41px;
    }

    .colnom1 {
        padding-left: 25%;
    }

    .input {
        color: #fff;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        text-align: right;
        margin-left: 20px;
        width: 290px;
    }

    .calcular {
        color: #fff;
        background-color: transparent;
        height: auto;
        width: 90px;
        border-radius: 2em;
        border: 3px solid #fff;
    }
    #estilo2cab:before {
        content: "Cuéntanos sobre tu";
    }

    #estilo2texto:before {
        content: "Automóvil";
        font-size: 20px;
        font-weight: bold;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    /* CARRITO */
    .car {
        padding-top: 12% !important;
    }

    /*Encabezado*/
    #logo:before{
        content:"ECOPARTNERSBANK";
        font-size:35px;
        font-weight:bold;
    }
    /*Encabezado*/
    #estilo1:before {
        content: "CALCULADORA";
        color: #FFFF;
        padding-top: 50% !important;
        font-size: 25px;
    }

    /* BOTÓN TRADUCIR*/
    .traducirsm{
        color: #fff;
        background-color:transparent;
        height:auto;
        width: 100%;
        border-radius: 3em;
        border: 3px solid #fff;
    }

    #num{
        padding-top:10%;
        font-style: normal;
        font-weight: bold;
        font-size: 65px;
        line-height: 41px;
    }

    #estilo2cab:before {
        content: "Cuéntanos sobre tu";
        font-size: 1rem;
    }

    #estilo2texto:before {
        content: "Automóvil";
        font-size: 25px;
        font-weight: bold;
    }

    .colnom1 {
        padding-left: 25%;
    }

    .calcular {
        color: #fff;
        background-color: transparent;
        height: auto;
        width: 90px;
        border-radius: 2em;
        border: 3px solid #fff;
    }

    .input {
        color: #fff;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        text-align: right;
        margin-left: 20px;
        width: 290px;
    }
}


@media screen and (min-width: 1200px) {
    .prueba {
        padding-top:3%;
    }

    .logoclass{
        padding-top:4% !important;
    }

    /* CARRITO */
    .car {
        padding-top: 15% !important;
    }
    
    .divencabezado{
        padding:4% !important;
    }
    /*Encabezado*/
    #logo:before {
        content: "ECOPARTNERSBANK";
        font-size: 23px;
        font-weight: bold;
    }
    /*Encabezado*/
    #estilo1:before {
        content: "CALCULADORA";
        color: #FFFF;
        padding-top: 50% !important;
        padding-right: 40%;
        font-size: 18px;
    }

    #estilo2cab:before {
        content: "Cuéntanos sobre tu";
        font-size: 0.8rem;
    }

    #estilo2texto:before {
        content: "Automóvil";
        font-size: 20px;
        font-weight: bold;
    }


    .colnom1 {
        padding-left: 25%;
    }

    .calcular {
        color: #fff;
        background-color: transparent;
        height: auto;
        width: 90px;
        border-radius: 2em;
        border: 3px solid #fff;
    }

    .input {
        color: #fff;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        text-align: right;
        margin-left: 20px;
        width: 290px;
    }

    #num {
        padding-top:5%;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 41px;
    }
}