
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <LINK rel="StyleSheet" href="~/Content/Site.css" type="text/css">
</head>
<body>
    <div>
        error @ViewBag.Token
    </div>
    <div class="container col-12">
        <div class="row" style=" background-color: #04C3D7; ">
            <div class="col-sm-2" style="background-color:#04C3D7;">

            </div>
            <div class="col-sm-8" style="background-color:#04C3D7; ">
                <div class="row">


                    <div class="col-sm-3" style=" background-color: #04C3D7; color:#117394">

                    </div>

                    <div class="col-sm-8" style="background-color: #04C3D7; color: #ffffff">

                        <div><span>&nbsp&nbsp</span></div>
                        <div>
                            <span>&nbsp&nbsp</span>
                            <span>&nbsp&nbsp</span>

                            <span>&nbsp&nbsp</span>
                            <span>&nbsp&nbsp</span>
                            <span>&nbsp&nbsp</span>


                        </div>
                        <div><spam style="font-size:30px">LA TRANSACCIÓN SE RECHAZÓ</spam> </div>

                        <div><span>&nbsp&nbsp</span></div>
                        <div><span>&nbsp&nbsp</span></div>


                        <div align="center" style="margin-left:-25%">
                            <span style="font-size:14px">Nos puedes escribir también a</span><br />
                            <span style="font-size:14px">calculadora@ecopartnersbank.org</span>

                        </div>
                        <div><span>&nbsp&nbsp</span></div>

                        <h2>Final</h2>
                        <p>Token</p>


                        <font id="token"></font>
                        <script>
                            document.getElementById("token").innerHTML = window.localStorage.getItem("token");
                        </script>
                    </div>






                    <div class="col-sm-1" style=" background-color: #04C3D7; color:#117394">

                    </div>
                     



                </div>
            </div>
            <div class="col-sm-2" style="background-color:transparent;">

            </div>
        </div>
    </div>
</body>
</html>


