
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
<!doctype html>
<html>
<head>
    <title>Prueba de Bootstrap 4</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <LINK rel="StyleSheet" href="~/Content/Site.css" type="text/css">
</head>

<body>
-->
    <div class="container-fluid">
        <div class="row" style="padding:1%">
            <div class="col-md-3" style="background-color:transparent;">
                <div class="row">
                    <div class="col-sm-3" style="background-color:transparent;">
                        <img style="padding:2%" src="~/Content/Img/Vector.png">
                    </div>
                    <div class="col-md-9" style="background-color:transparent; color:#ffff; padding-top:5%; padding-left:8%;">
                        <p style="font-size:15px;">
                            CALCULADORA
                            <span style="font-size:22px; font-weight: bold;">ECOPARTNERSBANK</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="background-color:transparent;">
                <div class="row" style="padding:2%;">
                    <div class="col-md-6" style="background-color:#117394">
                        <div class="row">
                            <div class="col-md-2" style="background-color:transparent;">
                                <p id="num" style="padding-top:45%; padding-left:22%;">1</p>
                            </div>
                            <div class="col-md-3" style="background-color:transparent; padding-top:5%;">
                                <img src="~/Content/Img/Moto.png" alt="Moto" />
                            </div>
                            <div class="col-md-7" style="background-color:transparent; color:#ffff; padding-top:5%; padding-left:10%;">
                                <p>
                                    Cuentanos sobre tu
                                    <span style="font-size:20px; font-weight: bold;">Motocicleta</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="background-color:#02AFC1;">
                        <p id="num" style="padding-top:18%; padding-left:22%;">2</p>
                    </div>
                    <div class="col-md-2" style="background-color:#04C3D7">
                        <p id="num" style="padding-top:18%; padding-left:22%;">3</p>
                    </div>
                    <div class="col-md-2" style="background-color:#0BEDBF">
                        <p id="num" style="padding-top:18%; padding-left:22%;">4</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="background-color:transparent;">
            </div>
        </div>
    </div>
<!--/////////////////////////////////////////////////////////////////////////-->
<div class="container-fluid">
    <form action="/Avion/BuscarAeropuertos/Avion_pagina2" method="post">
        <div class="row" style="margin-top: -1.9%; background-color:#117394">
            <div class="col-sm-2" style="background-color:transparent;">

            </div>
            <div class="col-sm-8" style="background-color:transparent;">

                <div class="row" style="padding:2%;">
                    <div class="col-sm-2" style="background-color:#117394">

                    </div>
                    <div class="col-sm-8" style="background-color:#117394;">

                        <div class="hijo">


                            <table>
                                <tr>

                                    <th style="width:18%">
                                        <span>&nbsp&nbsp&nbsp&nbspDesde&nbsp&nbsp&nbsp</span>
                                    </th>
                                    <th>
                                        <div>
                                            <input class="w-100 col-md-12 col-sm-10    select" type="text" name="inicio" id="texto1" autocomplete="off">
                                        </div>
                                        <div>
                                            <div id="Lista" class="w-100 col-md-12 col-sm-10    select" style="overflow-y: scroll; height: 180px; display: none;"></div>
                                        </div>

                                    </th>
                                </tr>
                                <tr>
                                    <th style="width:18%">
                                        <span> &nbsp&nbsp&nbsp&nbsp&nbspHasta&nbsp&nbsp&nbsp </span>
                                    </th>
                                    <th>
                                        <div>
                                            <input class="w-100 col-md-12 col-sm-10    select" type="text" name="destino" id="texto2" autocomplete="off">
                                        </div>
                                        <div>
                                            <div id="Lista2" class="w-100 select" style="overflow-y: scroll; height: 180px; display: none;"></div>
                                        </div>
                                        <div><p></p></div>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-2" style="background-color:#117394">

                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="background-color:transparent;">

            </div>
        </div>

        <!-///////////////////////////////////////////////////////////////////////////->

        <div class="row" style="margin-top: -33px; background-color:#117394">
            <div class="col-sm-2" style="background-color:transparent;">

            </div>
            <div class="col-sm-8" style="background-color:transparent;">
                <div class="row" style="padding:2%;">
                    <div class="col-sm-2" style="background-color:#117394">

                    </div>
                    <div class="col-sm-8" style="background-color:#117394;">
                        <div class="hijo">


                            <table>

                                <tr>
                                    <th style="width:18%">
                                        <span>&nbspNombre&nbsp&nbsp&nbsp</span>
                                    </th>
                                    <th><input class="w-100 col-md-12 col-sm-10    input" /></th>

                                </tr>
                                <tr>
                                    <th style="width:18%">
                                        <span>&nbsp&nbsp&nbsp&nbspE-mail</span>
                                    </th>
                                    <th><input class="w-100 col-md-12 col-sm-10    input" /></th>

                                    <td>
                                        <div class="hijo2">
                                            <samp>&nbsp&nbsp&nbsp</samp>
                                            <input class="recorrido" style="font-size: 11px" checked="checked" name="recorrido" type="radio" value="1" /> Solo ida </br>
                                            <samp>&nbsp&nbsp&nbsp</samp>
                                            <input class="recorrido" style="font-size: 11px" name="recorrido" type="radio" value="2" /> Ida y vuelta
                                        </div>
                                    </td>

                                </tr>
                            </table>


                        </div>
                    </div>

                    <div class="col-sm-2" style="background-color:#117394">

                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="background-color:transparent;">

            </div>
        </div>
        <br>


        <!-///////////////////////////////////////////////////////////////////////////->
        <div class="row" style="margin-top: -33px; background-color:#117394">
            <div class="col-sm-2" style="background-color:transparent;">

            </div>
            <div class="col-sm-8" style="background-color:transparent;">
                <div class="row" style="padding:2%;">
                    <div class="col-sm-2" style="background-color:#117394">

                    </div>
                    <div class="col-sm-8" style="background-color:#117394;">
                        <div class="hijo">
                            <table>
                                <tr>
                                    <th>Pasajeros&nbsp&nbsp&nbsp</th>
                                    <th>
                                        <select name="pasajeros" class=" select2 ">
                                            <option value="1" style="color:#fff; background:#117394;">&nbsp&nbsp&nbsp&nbsp1</option>
                                            <option value="2" style="color:#fff; background:#117394;">&nbsp&nbsp&nbsp&nbsp2</option>
                                            <option value="3" style="color:#fff; background:#117394;">&nbsp&nbsp&nbsp&nbsp3</option>
                                            <option value="4" style="color:#fff; background:#117394;">&nbsp&nbsp&nbsp&nbsp4</option>
                                            <option value="5" style="color:#fff; background:#117394;">&nbsp&nbsp&nbsp&nbsp5</option>
                                            <option value="6" style="color:#fff; background:#117394;">&nbsp&nbsp&nbsp&nbsp6</option>
                                            <option value="7" style="color:#fff; background:#117394;">&nbsp&nbsp&nbsp&nbsp7</option>
                                            <option value="8" style="color:#fff; background:#117394;">&nbsp&nbsp&nbsp&nbsp8</option>
                                            <option value="9" style="color:#fff; background:#117394;">&nbsp&nbsp&nbsp&nbsp9</option>
                                            <option value="10" style="color:#fff; background:#117394;">&nbsp&nbsp&nbsp&nbsp10</option>
                                        </select>

                                    </th>


                                </tr>
                                <tr style="margin-top:-10%">
                                    <th>Pasajeros&nbsp&nbsp&nbsp</th>
                                    <th>
                                        <select name="tipoViaje" class="select3">
                                            <option value="1" style="color:#fff; background:#117394;">&nbsp&nbsp&nbsp&nbspEconómico</option>
                                            <option value="2" style="color:#fff; background:#117394;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspNegocio</option>
                                            <option value="3" style="color:#fff; background:#117394;">&nbsp&nbspPrimera Clase</option>
                                        </select>
                                    </th>
                                </tr>



                            </table>
                        </div>
                    </div>

                    <div class="col-sm-2" style="background-color:#117394">
                        <div class="hijo">
                            <table>
                                <tr>
                                    <th>
                                        <input type="submit" class="calcular" value="Calcular" ">
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2" style="background-color:transparent;">

            </div>
        </div>
    </form>
</div>

<button onclick="location.href='http://localhost:62106/Moto/moto_pagina2'">Página 2</button>
<button onclick="location.href='http://localhost:62106/Moto/moto_pagina3'">Página 3</button>
<button onclick="location.href='http://localhost:62106/Moto/moto_pagina4'">Página 4</button>

<div style="min-height: 500px; padding-top: 100px; background-color : #137394">
    <form action="/Moto/CalculosMoto" method="post">
        <div class="row w-100 mx-0">

            <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0 ">
                <span style="color : white; font-size: 16px">Kilómetros recorridos</span>
            </div>
            <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0 ">
                <input class="w-100" type="text" name="kilometros" autocomplete="off" style="max-width: 500px !important;">
            </div>

            <div class="col-12"><p></p></div>

            <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0 ">
                <span style="color : white; font-size: 16px">Cilindrada</span>
            </div>

            <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0 ">
                <select name="cilindrada">
                    <option value="1">Menor o igual a 250 cc</option>
                    <option value="2">Mayor a 250 cc y menor o igual a 600 cc</option>
                    <option value="3">Mayor a 600 cc</option>

                </select>
            </div>
            <div class="col-12"><p></p></div>

            <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0 pb-5">
                <input style="background-color: transparent; border: 1px white solid; padding: 12px; color: white ;border-radius: 10px" type="submit" class="actualizar" value="Calcular">
            </div>

        </div>
    </form>

    @if (ViewBag.carbono != null)
    {
        <div class="row pb-5">
            <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0">
                <span style="color: white; font-size: 15px;">Kilómetros recorridos @ViewBag.kilometros Kilómetros</span>
            </div>
            <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0">
                <span style="color: white; font-size: 15px;">Litros Combustible quemado : @ViewBag.litros</span>
            </div>
            <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0">
                <span style="color: white; font-size: 15px;">Carbono producido : @ViewBag.carbono</span>
            </div>
            <div class="col-md-4 col-sm-10 offset-md-4 offset-sm-0">
                <span style="color: white; font-size: 15px;">Total a Pagar : @ViewBag.total</span>
            </div>

        </div>


    }

</div>


<!--
</body>
</html>
-->
