
body {
    background: linear-gradient(90deg, #028FCB, #05B3C6, #0BF5BD, #83EBAD);
    color: #fff;
    mix-blend-mode: normal;
}

#num {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 41px;
}


.padre {
    background: #117394;
    height: 700px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.hijo {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
}

.hijo2 {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}

.select {
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 380px;
}

.input {
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 280px;
}


